@page "/todomat"

<style>
    .completed-todo-item {
        text-decoration: line-through;
        color: lightgray !important;
    }
</style>

<h1>Todo</h1>

<div>
    <MatTextField @bind-Value="newItem" Label="What needs to be done?"
                  OnKeyDown="@Enter" OnInput="@OnInput"
                  Style="width: 500px"></MatTextField>
    <MatButton OnClick="@AddItem" Outlined="true">add</MatButton>
</div>
<div>
    <MatList Style="width: 500px">
        @foreach (var item in todosForDisplay)
        {
            <MatListItem Style="padding: 0;">
                <MatCheckbox Style="z-index: 1;" @bind-Value="item.IsDone"></MatCheckbox>
                <MatStringField Style="z-index: 0; width: 100%; position: absolute; padding-left: 50px; " InputClass="@GetCompletedTodoItemCssClass(item.IsDone)" @bind-Value="item.Content"></MatStringField>
            </MatListItem>
        }
    </MatList>
</div>
<div>
    @allTodos.Count(x => !x.IsDone) items left
    <MatButton OnClick="@ShowAll" Outlined="true">All</MatButton>
    <MatButton OnClick="@ShowActive" Outlined="true">Active</MatButton>
    <MatButton OnClick="@ShowCompleted" Outlined="true">Completed</MatButton>
    <MatButton OnClick="@ClearCompleted" Outlined="true" Disabled="@GetClearDisabled()">Clear completed</MatButton>
</div>
