@page "/todo"

<h1>Todo</h1>

<div>
    <input style="width: 300px" placeholder="What needs to be done?"
           @bind="newItem" @onkeydown="@Enter" @oninput="OnInput" />
           <button @onclick="AddItem">add</button>
</div>
<div>
    <ul>
        @foreach (var item in todosForDisplay)
        {
            <li>
                <input type="checkbox" @bind="item.IsDone" />
                <input @bind="item.Content" style="color: @GetTextStyles(item).foreColor; text-decoration: @GetTextStyles(item).decoration"/>
            </li>
        }
    </ul>
</div>
<div>
    @allTodos.Count(x => !x.IsDone) items left
    <button @onclick="ShowAll">All</button>
    <button @onclick="ShowActive">Active</button>
    <button @onclick="ShowCompleted">Completed</button>
    <button @onclick="ClearCompleted" style="display: @GetDisplay()">Clear completed</button>
</div>

@* @code 
{
    private List<TodoItem> todos = new List<TodoItem>();
    private string newItem;

    private void AddItem() {
        if (!string.IsNullOrWhiteSpace(newItem))
        {
            todos.Add(new TodoItem() { Content = newItem, });
            newItem = string.Empty;
        }
    }
} *@
